html, body {
    margin: 0;
    padding: 0;

    height: 100%;

}

body {
    display: flex;;
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;

    background-color: beige;
}

.container {
    background-color: whitesmoke;
    border: 1px solid rgb(212, 206, 206);
    border-radius: 8px;
    width: 400px;
    height: 516px;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: center;
}



.display {
    border: 3px solid black;

    height: 60px;
    width: 396px;

    /* margin-top: 20px; */

    text-align: right;
}

.buttons {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 90px;

    background-color:  powderblue;
    border-color: whitesmoke;
    border-radius: 10px;
}

.keypad {
    display: flex;
    width: 300px;
    flex-wrap: wrap-reverse;
}

#Clear {
    width: 300px;
}

.operators {
    display: flex;
    flex-direction: column;
}

.bottom-row {
    width: 300px;
    display: flex;
}

#zero-button {
    width: 200px;
}