html, body {
    margin: 0;
    padding: 0;

    height: 100%;

}

body {
    display: flex;;
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;
}

.container {
    background-color: antiquewhite;

    width: 400px;
    height: 600px;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;
}

.display {
    background-color: yellow;

    height: 60px;
    width: 400px;

    text-align: right;
}