html, body {
    margin: 0;
    padding: 0;

    height: 100%;

}

body {
    display: flex;;
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;
}

.container {
    background-color: antiquewhite;

    width: 400px;
    height: 600px;


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: center;
}

.display {
    background-color: yellow;

    height: 60px;
    width: 400px;

    text-align: right;
}

.buttons {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 100px;
    height: 90px;

    justify-content: space-between;

}

.keypad {
    background-color: darkgrey;
    display: flex;
    width: 300px;
    flex-wrap: wrap-reverse;
}

#Clear {
    width: 300px;
}

.operators {
    display: flex;
    flex-direction: column;
}

.bottom-row {
    width: 300px;
    display: flex;
}

#zero-button {
    width: 200px;
}